<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <MudContainer MaxWidth="MaxWidth.Medium" Class="mt-16">
                    <MudText Typo="Typo.h3" Class="text-center">Sorry, there's nothing at this address.</MudText>
                    <MudText Typo="Typo.body1" Class="text-center mt-4">
                        The page you're looking for doesn't exist or has been moved.
                    </MudText>
                    <div class="text-center mt-6">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/">
                            Go Home
                        </MudButton>
                    </div>
                </MudContainer>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
